*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(228, 228, 220);

  
}
.main {
  font-family: Calibri;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  width: 50vw;
  background: rgb(128, 168, 180);
  /* background: transparent; */
  margin-left: 24.2vw;
  margin-top: 8vw;
  border-radius: 1vw;
  border: 1px solid black;
  /* z-index: -.5; */
  /* opacity: 0.5; */

}

h1{
  text-align: center;
  font-style: oblique;
}
.bar {
  display: flex;
  flex-direction: row;
  padding: 2vw;
  border: 1px black;
  justify-content: space-between;
}

.selectprogress {
  font-size: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 2px blue;
  border-radius: 2vw;
  background-color: #49b33b;
}


.step {
  width: 100vw;
  font-size: 2vw;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;  
  padding: 1vw;
}

.inputs,input{
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

button {
  background-color: cornflowerblue;
  padding:1vw;
  border: 1px white;
  border-radius: 1vw;
  color: white;
  font-size: 1vw;
}
button:hover{
  background-color: rgb(34, 98, 216);
  padding:1vw;
  border: 1px white;
  border-radius: 1vw;
  color: white;
  font-size: 1vw;
}

.submitbtn {
  background-color: darkcyan;
  border: 1px white;
  border-radius: 1vw;
  color: white;
  font-size: 1vw;
}

.input {
  margin-bottom: 2vw;
  border-radius: 0.5vw;
  width: 48vw;
}

input {
  font-size: 3vw;
}

#finalmessage {
  font-size: 3vw;
  color: rgb(233, 27, 27);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sucess {
  color: rgb(0, 139, 0);
  font-size: 5vw;
  padding: 10px;
}
 #step2,#step3,#step4{
  display: none;
} 
